@page "/characters"
@inject NavigationManager navManager
@inject HttpClient Http
@inject NavigationManager navManager
@inject IJSRuntime jsRuntime
@inject DnDPlatform.Frontend.Services.LoginSingletonService loginService
@using BlazorBootstrap;
@using DnDPlatform.Frontend.Models.FormModels
@using DnDPlatform.Frontend.Models.ReponseModels
@using DnDPlatform.Frontend.Models.ResponseModels
@using System.Text.Json
@using System.Text
@using System.Net

<PageTitle>Characters</PageTitle>

<div class="container mt-4">
    <div class="row">
        <div class="text-center">
            <h1 class="fw-bold">Create A New Character:</h1>
            <p class="fw-lighter">Click the button below to get started on making a new character...</p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <button disabled="@_dialogOpen" class="btn btn-dark mx-auto" @onclick="this.OpenDialog">New Character</button> 
        </div>
    </div>
    <div class="row mt-5">
        <div class="mt-2">
            <h3 class="text-decoration-underline">Characters:</h3>
        </div>
    </div>
    <div class="mt-5">
        @if(accountCharacters.Count() < 1)
        {
            <div class="row">
                <div class="col text-center py-5">
                    <div class="text-muted">
                        <i class="bi bi-inbox" style="font-size: 4rem;"></i>
                        <h4 class="mt-3">No Characters Found...</h4>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            @foreach (CharacterResponseModel c in accountCharacters) {
                <div class="col">
                    <div class="card h-100 shadow-sm bg-dark">
                        <div class="card-body">
                            <h5 class="card-title text-primary">@c.Name</h5>
                            <p class="card-text">
                                <strong>Class:</strong> @c.Class<br>
                            </p>
                            <p class="card-text">
                                <strong>BackStory:</strong> @c.BackStory<br>
                            </p>
                            <p class="card-text">
                                <strong>Level:</strong> @c.Level<br>
                            </p>
                            <p class="card-text">
                                <strong>Template Used:</strong> @c.TemplateName<br>
                            </p>
                        </div>
                    </div>
                </div>
            }   
        </div>
        }
    </div>
</div>



<div class="modal fade @_dialogCss" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Create Character</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="this.CloseDialog"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="@model" OnValidSubmit="@Submission" FormName="createCharForm" id="createCharForm">
                    <DataAnnotationsValidator/>

                    <label for="nameInput">Character Name:</label><br />
                    <InputText class="rounded bg-light" style="border: none" id="nameInput" @bind-Value="model.CharacterName" placeholder="Name..."/>
                    <ValidationMessage For="@(() => model.CharacterName)"/>

                    <br/> 
                    <label for="classInput">Character Class:</label>
                    <br/> 
                    <InputText class="rounded bg-light" style="border: none" id="classInput" @bind-Value="model.Class" placeholder="Class..."></InputText>
                    <ValidationMessage For="@(() => model.Class)" />

                    <br/> 
                    <label for="levelInput">Character Level:</label>
                    <br/> 
                    <InputNumber class="rounded bg-light" style="border: none" id="levelInput" @bind-Value="model.Level"></InputNumber>
                    <ValidationMessage For="@(() => model.Level)"/>

                    <br />
                    <label for="idInput">Template Id:</label><br />
                    <InputText class="rounded bg-light" style="border: none" id="idInput" @bind-Value="model.TemplateId" placeholder="Template..."/>
                    <ValidationMessage For="@(() => model.TemplateId)"/>

                    <br/> 
                    <label for="backStoryInput">Character BackStory</label>
                    <br/> 
                    <InputTextArea class="rounded bg-light" style="width: 100%; border: none" id="backStoryInput" @bind-Value="model.BackStory" placeholder="Enter backstory..."></InputTextArea>
                    <ValidationMessage For="@(() => model.BackStory)"/>
                    
                </EditForm>
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-secondary text-white" @onclick="this.CloseDialog">Close</button>
                <button type="submit" form="createCharForm" class="btn btn-primary text-white">Save changes</button>
            </div>
        </div>
    </div>
</div>


@code {
    private CreateCharacterModel model = new();
    private bool _dialogOpen;
    private string _dialogCss => _dialogOpen ? "show" : "hide"; 
    private List<CharacterResponseModel> accountCharacters = new List<CharacterResponseModel>();
    public async ValueTask<string?> GetFromLocalStorage(string key, string? defaultValue = null) => await jsRuntime.InvokeAsync<string>("localStorage.getItem", key) ?? defaultValue;
    private string Token = "";

    protected override async Task OnInitializedAsync()
    {    
        if(loginService.LoggedIn)
        {
            Token = await GetFromLocalStorage("token") ?? "";
            var response = await GetCharacters();
            if (response.IsSuccessStatusCode)
            {

            }       
            return;
        }
        else{
            navManager.NavigateTo("/register");
        }
    }

    private Task OpenDialog()
    {
        _dialogOpen = true;
        return Task.CompletedTask;
    }

    private Task CloseDialog()
    {
        _dialogOpen = false;
        return Task.CompletedTask;
    }

    private async Task Submission()
    {
        var response = await CreateCharacterPost();
        await CloseDialog();
    }

    private async Task<HttpResponseMessage> CreateCharacterPost()
    {
        var request = new HttpRequestMessage(HttpMethod.Post, "/api/characters");
        var PostBody = new {name = model.CharacterName, templateId = model.TemplateId};
        request.Content = new StringContent(JsonSerializer.Serialize(PostBody), Encoding.UTF8, "application/json");
        var response = await Http.SendAsync(request);

        return response;
    }

    private async Task<HttpResponseMessage> GetCharacters()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "/api/characters");
        request.Headers.Add("Authorization", $"Bearer {Token}");
        var response = await Http.SendAsync(request);

        return response;
    }
}

<style>
    .show {
        display:block;
    }

    .hide {
        display: none;
    }
</style>

